<template>
  <div class="container">
    <p v-if="$fetchState.pending">Fetching mountains...</p>
    <p v-else-if="$fetchState.error">An error occured :(</p>
    <div v-else>
      <b-calendar
        v-model="value"
        @context="onContext"
        locale="en-US"
      ></b-calendar>
      <div class="jumbotron">
        <h1 class="display-3">{{ apod.title }}</h1>
        <p class="lead">{{ apod.explanation }}</p>
        <hr class="my-2" />
        <img v-if="apod.media_type === 'image'" :src="apod.url" alt="" />
        <iframe
          v-else-if="apod.media_type === 'video'"
          width="420"
          height="315"
          :src="apod.url"
        >
        </iframe>
        <p>More info</p>
        <p class="lead">
          <a
            class="btn btn-primary btn-lg"
            href="Jumbo action link"
            role="button"
            >Jumbo action name</a
          >
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";

@Component({})
export default class Logo extends Vue {
  
  apod = {};
  date: any = undefined;
  baseUrl = "https://api.nasa.gov/planetary/apod?api_key=DEMO_KEY";
  url = this.baseUrl;

  async fetch() {
    this.apod = await fetch(this.url).then((res) => res.json());
  }
  
  async onContext(ctx: any) {
    this.date = ctx.selectedYMD.toString();
    console.log(this.date);

    this.url = this.baseUrl + "&date=" + this.date;
    console.log(this.url);
    this.apod = await fetch(this.url).then((res) => res.json());
    console.log(this.apod);
  }
}
</script>
<style ${scoped} lang="css">
</style>

