<template>
  <div class="container">
    <vue-slider v-model="value" />

    <div class="row">
      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 my-3"
        v-for="beer in myBeers"
        :key="beer.id"
      >
        <div class="card h-100">
          <img class="card-img-top w-25 mx-auto" :src="beer.image_url" alt="" />

          <div class="card-body">
            <h4 class="card-title">{{ beer.name }}</h4>
            <p class="card-text">{{ beer.tagline }}</p>
            <p class="card-text">{{ beer.abv }}%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Component,
  namespace,
  Prop,
  Vue,
  Watch,
} from "nuxt-property-decorator";
import VueSlider from "vue-slider-component";
import "vue-slider-component/theme/antd.css";
const range = namespace("range");
@Component({
  components: {
    VueSlider,
  },
})
export default class MyClass extends Vue {
  @range.State
  public abvRange!: number[];
  @range.Mutation
  public updateRange!: (data: number[]) => void;
  @Prop({ default: [] }) readonly beers!: any[];

  value = [0, 5];
  myBeers = this.beers;

  mounted() {
    this.value = this.abvRange;
    this.myBeers = this.beers.filter(
      (beer) => beer.abv >= this.value[0] && beer.abv <= this.value[1]
    );
  }

  @Watch("value")
  onChildChanged(val: number[], oldVal: number[]) {
    console.log(val);
    this.updateRange(val);
    this.myBeers = this.beers.filter(
      (beer) => beer.abv >= val[0] && beer.abv <= val[1]
    );
  }
}
</script>

<style ${2|scoped,|} lang="scss">
</style>
