<template>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ card.question }}</h4>
      <div v-if="!card.answered">
        <button
          type="button"
          name=""
          id=""
          class="btn btn-primary btn-lg btn-block"
          v-for="(answer, index) in card.answers"
          :key="index"
          @click="onClicked(answer)"
        >
          {{ answer }}
        </button>
      </div>
      <div v-else-if="card.answered">
        <button
          type="button"
          name=""
          id=""
          :class="getClass(answer)"
          v-for="(answer, index) in card.answers"
          :key="index"
          disabled
        >
          {{ answer }}
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, namespace, Prop, Vue } from "nuxt-property-decorator";
import { Card } from '~/model/Card'
const trivial = namespace("trivial");

@Component({})
export default class CardComponent extends Vue {
  @trivial.Mutation
  public updateCard!: (data: Card) => void;
  @Prop({ default: new Card() }) readonly info!: Card;
  card: Card = {...this.info};

  onClicked(answer: string) {
    this.card.answered = true;
    this.card.answer = answer;
    this.updateCard(this.card);
  }

  getClass(value: string): string {
    console.log(value + ":" + this.card.answer + ":" + this.card.correctAnswer);

    if (value === this.card.correctAnswer) {
      return "btn btn-success btn-lg btn-block";
    } else if (
      value === this.card.answer &&
      this.card.correctAnswer != this.card.answer
    ) {
      return "btn btn-danger btn-lg btn-block";
    } else {
      return "btn btn-secondary btn-lg btn-block";
    }
  }
}
</script>

<style ${2|scoped,|} lang="scss">
</style>
