<template>
  <div class="container">
    <div class="row">
      <div
        class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 my-3"
        v-for="(card, index) in this.cards"
        :key="index"
      >
        <Card :info="card" class="h-100" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, namespace, Vue } from "nuxt-property-decorator";
import Card from "../model/Card";
const trivial = namespace("trivial");

@Component({})
export default class Logo extends Vue {
  @trivial.State
  public storedCards!: Card[];
  @trivial.Mutation
  public updateCards!: (data: Card[]) => void;

  trivial: any = {};
  cards: Card[] = [];
  date: any = undefined;
  baseUrl = "https://opentdb.com/api.php?amount=10";
  url = this.baseUrl;

  async mounted() {
    if (this.storedCards.length > 0) {
      this.cards = this.storedCards;
    } else {
      this.trivial = await fetch(this.url).then((res) => res.json());
      this.trivial.results.forEach((jsonCard: any, index: number) => {
        const myCard: Card = new Card(jsonCard, index);
        this.cards = [...this.cards, myCard];
      });
      this.updateCards(this.cards);
    }
  }
}
</script>
<style ${scoped} lang="css">
</style>

