
<template>
  <div class="container">
    <b-calendar
      @context="onContext"
      locale="en-US"
    ></b-calendar>
    <div class="alert alert-primary" role="alert">
      <strong>{{context.selectedYMD}}</strong>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "nuxt-property-decorator";

@Component({})
export default class MyClass extends Vue {
  context: any = {};
  onContext(ctx: any) {
    this.context = ctx;
  }
}
</script>

<style ${2|scoped,|} lang="scss">
</style>


