<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <nuxt-link to="/apod" class="navbar-brand">Nuxt</nuxt-link>
      <button
        class="navbar-toggler d-lg-none"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <nuxt-link to="/apod" class="nav-link">Apod</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link to="/beers" class="nav-link">Cervezas</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link to="/user" class="nav-link">Ejemplo Store</nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link to="/trivial" class="nav-link">Trivial</nuxt-link>
          </li>

        </ul>
      </div>
    </nav>
    <Nuxt />
  </div>
</template>
