<template>
  <Beers :beers="beers"/>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  async asyncData({ $content, route }) {
    const beers = await $content("beers").fetch();
    return {
      beers,
    };
  },
  watchQuery: true,
});
</script>